@font-face {
  font-family: "toutiao";
  /* Project id 3322489 */
  src: url('//at.alicdn.com/t/font_3322489_sbsjgl0ap3q.woff2?t=1649750947289') format('woff2'), url('//at.alicdn.com/t/font_3322489_sbsjgl0ap3q.woff?t=1649750947289') format('woff'), url('//at.alicdn.com/t/font_3322489_sbsjgl0ap3q.ttf?t=1649750947289') format('truetype'), url('//at.alicdn.com/t/font_3322489_sbsjgl0ap3q.svg?t=1649750947289#toutiao') format('svg');
}
.toutiao {
  font-family: "toutiao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.toutiao-dianzan:before {
  content: "\e608";
}
.toutiao-dianzan2:before {
  content: "\e609";
}
.toutiao-fenxiang:before {
  content: "\e60a";
}
.toutiao-gengduo:before {
  content: "\e60b";
}
.toutiao-pinglun:before {
  content: "\e60c";
}
.toutiao-shouye:before {
  content: "\e60d";
}
.toutiao-shoucang:before {
  content: "\e60e";
}
.toutiao-guanbi:before {
  content: "\e60f";
}
.toutiao-shouji:before {
  content: "\e610";
}
.toutiao-lishi:before {
  content: "\e611";
}
.toutiao-shipin:before {
  content: "\e612";
}
.toutiao-shanchu:before {
  content: "\e613";
}
.toutiao-sousuo:before {
  content: "\e614";
}
.toutiao-wenda:before {
  content: "\e615";
}
.toutiao-zuojiantou:before {
  content: "\e616";
}
.toutiao-yanzhengma:before {
  content: "\e617";
}
.toutiao-wuwangluo:before {
  content: "\e618";
}
.toutiao-zuopin:before {
  content: "\e619";
}
.toutiao-youjiantou:before {
  content: "\e61a";
}
.toutiao-wode:before {
  content: "\e61b";
}
.toutiao-yuedu:before {
  content: "\e61c";
}
body {
  background-color: #f5f7f9;
}
